{% extends 'core/base.html' %}
{% load humanize %}
{% block titulo %}Listado Volumen Tanques{% endblock titulo %}
{% block contenido %}
<div class="card border-left-success shadow h-100">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Listado Ocupación Tanques</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>Tanque</th>
                        <th>Capacidad Tanque</th>
                        <th>Volumen Actual</th>
                        <th>% Ocupación</th>
                        <th>Masa Kg</th>
                        <th>Producto</th>
                        <th>Modificado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in calculos %}
                        {% if not c.volumen %}
                        {% else %}
                            <tr class="text-center">
                                <td><a href="{% url 'detalle_ocupacion_tk' c.tanque.id %}">{{c.tanque}}</a></td>
                                <td>{{c.tanque.volumen|floatformat:"0"|intcomma}} lts</td>
                                <td>{{c.volumen|floatformat:"0"|intcomma}} lts</td>
                                <td>{{c.ocupacion|floatformat:"0"|intcomma}}%</td>
                                <td>{{c.masa|floatformat:"0"|intcomma}} Kg</td>
                                <td>{{c.lote.producto}}</td>
                                <td>{{c.creado}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js_page %}
<script>
    $(document).ready(function(){
        $('.table').DataTable();
    });
</script>
{% endblock js_page %}