{% extends 'core/base.html' %}

{% block titulo%}Cambio Contraseña{% endblock %}

{% block index %}
    <div class="row">
        <div class="col-md-6 mx-auto mt-3">
            <div class="card">
                <div class="card-header bg-primary">
                    <h4 class="text-center text-white">Contraseña restablecida</h4>
                </div>
                <div class="card-body">
                   <p>Su contraseña ha sido establecida. Usted puede Inicia sesión ahora</p>
                   <a href="{% url 'login' %}">Inicar sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}