{% extends 'core/base.html' %}

{% block titulo%}Recuperar tú Contraseña{% endblock %}

{% block index %}
    <div class="row">
        <div class="col-md-6 mx-auto mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Ingresa tu e-mail para recupear tu contraseña</div>
                    <p>
                        Alguien solicitó el restablecimiento de la contraseña del correo electrónico {{ email }}. Seguir el siguiente link:
                        {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
                        Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}