{% extends 'core/base.html' %}

{% block titulo%}Cambio Contraseña{% endblock %}

{% block index %}
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="mx-auto mt-3">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <a href="{% url 'home' %}" class="h1 text-success"><b>InvAlgranel</b></a>
                        <div class="card-body">
                            <p>Su contraseña ha sido establecida. Usted puede Inicia sesión ahora</p>
                            <a href="{% url 'login' %}">Inicar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}