{% extends 'core/base.html' %}

{% block titulo%}Recuperar tú Contraseña{% endblock %}

{% block index %}
    <div class="row">
        <div class="col-md-6 mx-auto mt-3">
            <div class="card">
                {% if validlink %}
                <div class="card-header bg-primary">
                    <h4 class="text-center">Recupera tú Contraseña</h4>
                </div>
                <div class="card-body">
                    <div class="card-title">Ingresa tú nueva contraseña</div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-success btn-block">Cambiar Contraseña</button>
                    </form>
                </div>
                {% else %}
                <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque tiene
                    ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}