{% extends 'core/base.html' %}

{% block titulo%}Recuperar tú Contraseña{% endblock %}

{% block index %}
<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="mx-auto mt-3">
                <div class="card card-outline card-primary">
                    {% if validlink %}
                    <div class="card-header text-center">
                        <a href="{% url 'home' %}" class="h1 text-success"><b>InvAlgranel</b></a>
                        <div class="card-body">
                            <h4 class="card-title text-center">Ingresa tú nueva contraseña</h4>
                            <form action="" method="POST" class="text-center">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-info btn-block">Recuperar Contraseña</button>
                            </form>
                        </div>
                    </div>
                    {% else %}
                        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque tiene
                        ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}