{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'panel' %}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-warehouse"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Inv-Algranel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'panel' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de Control</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading"><h6>Buenaventura</h6></div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Componentes</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item border-left-primary" href="{% url 'crear_tanque' %}">Crear Tanque</a>
                <a class="collapse-item border-left-secondary" href="{% url 'importar' %}">Cargar Tabla de Aforo</a>
                <a class="collapse-item border-left-success" href="{% url 'crear_lote' %}">Crear Lote</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular' %}">Medición</a>
                <a class="collapse-item border-left-warning" href="{% url 'listado_tanques_ope' %}">Tanques Operación
                    Hoy</a>
                <a class="collapse-item border-left-danger" href="{% url 'listado_tanques' %}">Tanques</a>
                <a class="collapse-item border-left-primary" href="{% url 'listado_calculos' %}">Ocupación Tanques</a>
                <a class="collapse-item border-left-secondary" href="{% url 'listado_lotes' %}">Lotes</a>
                <h4 class="collapse-header">Medición:</h4>
                <a class="collapse-item border-left-info" href="{% url 'calcular' %}">Estandar</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular_api' %}">API</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular_pruebas' %}">Estandar Pruebas</a>

            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading"><h6>cartagena</h6></div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
            aria-controls="collapse3">
            <i class="fas fa-fw fa-cog"></i>
            <span>Componentes</span>
        </a>
        <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item border-left-primary" href="{% url 'crear_tanque_ctg' %}">Crear Tanque</a>
                <a class="collapse-item border-left-secondary" href="{% url 'importar_ctg' %}">Cargar Tabla de Aforo</a>
                <a class="collapse-item border-left-success" href="{% url 'crear_lote_ctg' %}">Crear Lote</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular_ctg' %}">Medición</a>
                <a class="collapse-item border-left-warning" href="{% url 'listado_tanques_ope_ctg' %}">Tanques Operación
                    Hoy</a>
                <a class="collapse-item border-left-danger" href="{% url 'listado_tanques_ctg' %}">Tanques</a>
                <a class="collapse-item border-left-primary" href="{% url 'listado_calculos_ctg' %}">Ocupación Tanques</a>
                <a class="collapse-item border-left-secondary" href="{% url 'listado_lotes_ctg' %}">Lotes</a>
                <h4 class="collapse-header">Medición:</h4>
                <a class="collapse-item border-left-info" href="{% url 'calcular_ctg' %}">Estandar</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular_api_ctg' %}">API</a>

            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading"><h6>barranquilla</h6></div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
            aria-controls="collapse1">
            <i class="fas fa-fw fa-cog"></i>
            <span>Componentes</span>
        </a>
        <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item border-left-primary" href="{% url 'crear_tanque_bar' %}">Crear Tanque</a>
                <a class="collapse-item border-left-secondary" href="{% url 'importar_bar' %}">Cargar Tabla de Aforo</a>
                <a class="collapse-item border-left-success" href="{% url 'crear_lote_bar' %}">Crear Lote</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular_bar' %}">Medición</a>
                <a class="collapse-item border-left-warning" href="{% url 'listado_tanques_ope_bar' %}">Tanques Operación
                    Hoy</a>
                <a class="collapse-item border-left-danger" href="{% url 'listado_tanques_bar' %}">Tanques</a>
                <a class="collapse-item border-left-primary" href="{% url 'listado_calculos_bar' %}">Ocupación Tanques</a>
                <a class="collapse-item border-left-secondary" href="{% url 'listado_lotes_bar' %}">Lotes</a>
                <h4 class="collapse-header">Medición:</h4>
                <a class="collapse-item border-left-info" href="{% url 'calcular_bar' %}">Estandar</a>
                <a class="collapse-item border-left-info" href="{% url 'calcular_api_bar' %}">API</a>

            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading"><h6>data api</h6></div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true"
            aria-controls="collapse2">
            <i class="fas fa-fw fa-cog"></i>
            <span>Data</span>
        </a>
        <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item border-left-primary" href="{% url 'api_prueba' %}">Pruebas</a>
            </div>
        </div>
    </li>


    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>