{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'panel' %}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-warehouse"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Inv-Algranel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Buenaventura</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="m-1 font-weight-bold text-success">Tanques:</h6>
                <a class="collapse-item" href="{% url 'crear_tanque' %}">Crear Tanque</a>
                <a class="collapse-item" href="{% url 'listado_tanques_ope' %}">Tanques Operación Hoy</a>
                <a class="collapse-item" href="{% url 'listado_tanques' %}">Lista Tanques</a>
                <a class="collapse-item" href="{% url 'listado_calculos' %}">Ocupación Tanques</a>

                <h6 class="m-1 font-weight-bold text-success">Tabla Aforo:</h6>
                <a class="collapse-item" href="{% url 'importar' %}">Cargar Tabla de Aforo</a>
                <a class="collapse-item" href="{% url 'con_tabla' %}">Tanques con tabla Aforo</a>

                <h6 class="m-1 font-weight-bold text-success">Lotes:</h6>
                <a class="collapse-item" href="{% url 'crear_lote' %}">Crear Lote</a>
                <a class="collapse-item" href="{% url 'crear_lote_api' %}">Crear Lote API</a>
                <a class="collapse-item" href="{% url 'listado_lotes' %}">Lotes</a>
                <a class="collapse-item" href="{% url 'listado_lotes_api' %}">Lotes API</a>

                <h6 class="m-1 font-weight-bold text-success">Medición:</h6>
                <a class="collapse-item" href="{% url 'calcular' %}">Estandar</a>
                <a class="collapse-item" href="{% url 'calculoApi' %}">API</a>
                <a class="collapse-item" href="{% url 'calcular_pruebas' %}">Despacho por medición</a>

            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true"
            aria-controls="collapse3">
            <i class="fas fa-fw fa-cog"></i>
            <span>Cartagena</span>
        </a>
        <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="m-1 font-weight-bold text-success">Tanques:</h6>
                <a class="collapse-item" href="{% url 'crear_tanque_ctg' %}">Crear Tanque</a>
                <a class="collapse-item" href="{% url 'listado_tanques_ope_ctg' %}">Tanques Operación Hoy</a>
                <a class="collapse-item" href="{% url 'listado_tanques_ctg' %}">Lista Tanques</a>
                <a class="collapse-item" href="{% url 'listado_calculos_ctg' %}">Ocupación Tanques</a>

                <h6 class="m-1 font-weight-bold text-success">Tabla Aforo:</h6>
                <a class="collapse-item" href="{% url 'importar_ctg' %}">Cargar Tabla de Aforo</a>
                <a class="collapse-item" href="{% url 'con_tabla_ctg' %}">Tanques con tabla Aforo</a>

                <h6 class="m-1 font-weight-bold text-success">Lotes:</h6>
                <a class="collapse-item" href="{% url 'crear_lote_ctg' %}">Crear Lote</a>
                <a class="collapse-item" href="{% url 'crear_lote_api_ctg' %}">Crear Lote API</a>
                <a class="collapse-item" href="{% url 'listado_lotes_ctg' %}">Lotes</a>
                <a class="collapse-item" href="{% url 'listado_lotes_api_ctg' %}">Lotes API</a>

               <h6 class="m-1 font-weight-bold text-success">Medición:</h6>
                <a class="collapse-item" href="{% url 'calcular_ctg' %}">Estandar</a>
                <a class="collapse-item" href="{% url 'calculoApi_ctg' %}">API</a>
                <a class="collapse-item" href="{% url 'calcular_pruebas_ctg' %}">Despacho por medición</a>

            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
            aria-controls="collapse1">
            <i class="fas fa-fw fa-cog"></i>
            <span>Barranquilla</span>
        </a>
        <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="m-1 font-weight-bold text-success">Tanques:</h6>
                <a class="collapse-item" href="{% url 'crear_tanque_bar' %}">Crear Tanque</a>
                <a class="collapse-item" href="{% url 'listado_tanques_ope_bar' %}">Tanques Operación Hoy</a>
                <a class="collapse-item" href="{% url 'listado_tanques_bar' %}">Lista Tanques</a>
                <a class="collapse-item" href="{% url 'listado_calculos_bar' %}">Ocupación Tanques</a>

                <h6 class="m-1 font-weight-bold text-success">Tabla Aforo:</h6>
                <a class="collapse-item" href="{% url 'importar_bar' %}">Cargar Tabla de Aforo</a>
                <a class="collapse-item" href="{% url 'con_tabla_bar' %}">Tanques con tabla Aforo</a>

                <h6 class="m-1 font-weight-bold text-success">Lotes:</h6>
                <a class="collapse-item" href="{% url 'crear_lote_bar' %}">Crear Lote</a>
                <a class="collapse-item" href="{% url 'crear_lote_api_bar' %}">Crear Lote API</a>
                <a class="collapse-item" href="{% url 'listado_lotes_bar' %}">Lotes</a>
                <a class="collapse-item" href="{% url 'listado_lotes_api_bar' %}">Lotes API</a>

                <h6 class="m-1 font-weight-bold text-success">Medición:</h6>
                <a class="collapse-item" href="{% url 'calcular_bar' %}">Estandar</a>
                <a class="collapse-item" href="{% url 'calculoApi_bar' %}">API</a>
                <a class="collapse-item" href="{% url 'calcular_pruebas_bar' %}">Despacho por medición</a>

            </div>
        </div>
    </li>
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>