{% extends 'core/base.html' %}
{% block titulo %}Listado Tanques{% endblock titulo %}
{% block contenido %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Listado Total de Tanques </h1>
</div>
<div class="row">
    
    {% if tanques_list %}
        {% for t in tanques_list %}
            <div class="col-sm-12 col-xl-3 col-md-4 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                   Tanque</div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800"><a href="{% url 'detalle_tanque_ctg' t.id %}">{{t.tag}}</a></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-warehouse fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>Aún no se han creado tanques.</p>
    {% endif %}
        
    
</div>
{% endblock contenido %}